@import url("https://fonts.googleapis.com/css?family=Poppins");
:root {
    --main-color: #1b2532;
    --text-color: #f1f1f1;
    --theyellowone: #ffd400;
    --lightblue: #02A9EA;
    --theyellowone: #ffd400;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: 'Poppins';
}

header {
    background: url("resources/steam-pictures/space-hero.jpg");
    width: 100vw;
    height: 300px;
    background-size: cover;
}

nav {
    background-color: var(--main-color);
    position: relative;
    top: 1rem;
    width: 750px;
    height: 50px;
    margin-top: 50px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav .fa-brands {
    font-size: 40px;
}

.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.card img:hover {
    transform: scale(1.04);
    transition: 0.5s;
}

.card {
    transition: 0.5s;
}

.card img {
    width: 100%;
    border-radius: 20px;
}


.headerstyle {
    font-size: 40px;
    font-weight: bold;
    color: var(--theyellowone);
    padding: 20px;
    text-align: center;
}

.specials, .top-sellers, .new, .upcoming{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 80vw;
}

@media only screen and (max-width: 768px) {
    .specials, .top-sellers, .new, .upcoming {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 90vw;
    height: 90vh;
    overflow: auto;
    background-color: var(--main-color);
    border-radius: 20px;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

/*Search bar*/
#search{
    border: none;
    border-radius: 20px;
    height: 40%;
    padding: 10px;
    background-color: var(--main-color);
    box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
}

#search:focus{
    outline:none;
}
#search:hover{
    transform: scale(1.1);
    transition: 0.5s;
}