<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02681cdd64.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/static/resources/steam-pictures/steam.png">
    <link rel="stylesheet" href="/static/styles/{{ style }}">
    <link rel="stylesheet" href="/static/styles/global.css">
    <script defer src="/static/scripts/global.js"></script>
    <title>{{ title }} - Steam 2.0</title>
</head>
<body>
    {% block header %}
    {% include "global/header" %}
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    {% include "global/footer" %}
    {% endblock footer %}
</body>
</html>