main{
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#to-store{
    color: var(--lightblue);
}

a{
    text-decoration: none;
}

#to-store:hover #icon{
    transition: 0.5s;
    margin-left: 10px;
}

#middle-container{
    flex-grow: 2;
    width: 20rem;
}