main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}


#to-store{
    color: var(--lightblue);
}

a{
    text-decoration: none;
}

#to-store:hover #icon{
    transition: 0.5s;
    margin-left: 10px;
}

#middle-container{
    flex-grow: 2;
    width: 20rem;
    margin: 1rem;
}

.games-column{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.75);  
    border: solid var(--main-color);
}

