.location {
    display: flex;
    justify-content: center;
}

.location iframe {
    width:  80%;
}

.forms form input, .forms form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid black;
    font-family: Poppins;
    font-size: 19px;
    border-radius: 10px;
}
  
.forms {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 600px;
    padding: 50px;
    margin: auto;
    box-sizing: border-box;
}
  
#submitbutton{
    display: inline-block;
    text-decoration: none;
    color: red;
    border: 2px solid red;
    padding: 13px 34px;
    background: transparent;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}
  
#submitbutton:hover {
    border: 2px solid red;
    background: red;
    color: white; 
    transition: 1s;
}

.headerstyle {
    font-size: 40px;
    margin: 0px;
    font-weight: bold;
    color: var(--theyellowone);
    padding: 40px;
    text-align: center;
}
  
@media only screen and (max-width: 768px) {
    .forms {
        width: 250px;
        padding: 40px 0px;
        justify-content: center;
    }

    .forms form input, .forms form textarea {
        box-sizing: border-box;
    }
}