@import url("https://fonts.googleapis.com/css?family=Poppins");
:root {
	--main-color: #252e39;
	--secondary-color: #161b21;
	--text-color: #f1f1f1;
	--theyellowone: #ffd400;
	--lightblue: #02a9ea;
}

:root:has(#darkmode:checked) {
	--main-color: #f1f1f1;
	--secondary-color: #b9b9b9;
	--text-color: #252e39;
	--theyellowone: #ffd400;
	--lightblue: #02a9ea;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	background-size: cover;
	color: var(--text-color);
	font-family: "Poppins";
}

body::before {
	background: url("/static/resources/steam-pictures/space-hero.jpg");
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -5;
}

body:has(#darkmode:checked)::before {
	background: url("https://media.discordapp.net/attachments/786580397231308800/1102947016310521886/2124358.png");
	filter: brightness(0.95);
}

main {
	background-color: var(--main-color);
}

::-webkit-scrollbar {
	width: 0.5rem; /* Note to self, keep this at 0.5*/
	background-color: var(--main-color);
	opacity: 0.1;
}

::-webkit-scrollbar-track {
	box-shadow: -1px 0 1px 0 var(--main-color);
}

::-webkit-scrollbar-thumb {
	background: var(--theyellowone);
	border-radius: 0.25rem;
}
