@import url("https://fonts.googleapis.com/css?family=Poppins");
:root {
    --main-color: #1b2532;
    --text-color: #f1f1f1;
    --theyellowone: #ffd400;
    --lightblue: #02A9EA;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: 'Poppins';
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 90vw;
    height: 90vh;
    overflow: auto;
    background-color: var(--main-color);
    border-radius: 20px;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.games {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.games-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 80vw;
}

@media only screen and (max-width: 768px) {
    .games-inner {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
}

.card img:hover {
    transform: scale(1.04);
    transition: 0.5s;
} 

.card img {
    width: 100%;
    border-radius: 20px;
    transition: 0.5s;
}